/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  margin: 10px 120px 10px 120px;
}

.main-header{
  display: flex;
  justify-content:space-between;
  align-items: center; 
}
.navoptions ul{
  display: flex;
  gap :20px;
  list-style: none; 
}

.imgportfolio {
  width: 720px;
  height: 629px;
 /** margin-left: 720px;**/
}

.imgbg{
  height: 887px;
  width: 777px;
  /*margin-top:-248px;*/
  background-color: #fdc435;
  border-bottom-right-radius: 50%;
  border-style: none;
  border-bottom-left-radius: -50%;
  
}

.main-header{
  height: 46px;
  max-width: 1440px;
}

.hero{ 
  display: flex;
  justify-content: space-between;
}

.intro{
  /*width: 486px*/
  width: 600px;
  height: 408px;
  margin-top: 0px;
  margin-left: 0px;
  gap: 12px;
}

#projects-btn{
  background-color: #fdc435;
  border-style: none;
  border-radius: 20px;
}

.intro-title{
  font-family:"Playfair Display", serif;
  font-weight: 700;
  font-size: 64px;
  letter-spacing: 0px;
  line-height: 120%;
  color: #25282B;
}
.intro-par{
  font-family:"Nunito", sans-serif; 
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #828282;
}

#project-section{
  margin-top: 140px;
align-items: center;
}

.proj-title{
 display: flex;
 justify-content: center;
 font-family:"Playfair Display", serif;
 font-size: 48px;
 text-decoration: underline;
 text-decoration-color:#fdc435 ;
 text-underline-offset: 20px;
 align-items: center;
}

/*#project-section{
  height: 524px ;
  width: 992px;

}*/

.project-container{
 display: flex;
 justify-content: space-around;
 align-items: flex-start;
 margin-top: 100px;

}

.project-content{
width: 496px;
height: 524px;
}

.project-image{
  background-color: #fdc435;
  height: 526px;
  width: 496px;
}

